body{
    
width: 1280px;
left: -641px;
top: -814px;

margin: 0 auto;
}
menu{
    text-align: center;
}
li 
{
    display: inline;
    list-style-type: none;
    margin: 100px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: red;
}
a{
    text-decoration: none;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
color: #FF0000;
}
h2{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
}
img{
    width: 1280px;
height: 789px;
left: 0px;
top: 78px;
margin: 0 auto;
}
p{
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
}


.footer-p{
    text-align: end;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
margin-top: 40px;
}
button{
    height: 51px;
width: 191px;
left: 544.5px;
top: 557px;
border-radius: 4px;
margin-left: 550px;
color: #FFFFFF;
background-color: #FF0000;
}